# Ignore Python cache files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore log folder
logs/

rag_agent_v1a.py
rag_agent_v1_old.py
blob_storage_test.py

data/new_animation_old*

# Ignore virtual environment folders
venv/
