langchain==1.2.6
langchain-community==0.4.1
langchain-core==1.2.7
langchain-experimental==0.0.65
langchain-openai==1.1.7
langchain-text-splitters==1.1.0
langgraph==1.0.6
langsmith==0.6.4
openai==2.15.0
pillow==11.1.0
streamlit==1.42.1
faiss-cpu==1.10.0
PyPDF2==3.0.1
streamlit-bokeh-events
gTTS==2.5.4
